# Ignore compiled files.
__pycache__/
*.py[cod]
tmp_build/
*.pyc

# Ignore files created by IDEs.
/.vscode/
/.idea/
.ipynb_*/
*.ipynb
.DS_Store
*.sw[pon]

# Ignore data files.
data/
*.npy
*.tar
*.zip
*.mdb
*.ckpt

# Ignore network files.
ckpts/
*.pth
*.pt
*.pkl
*.h5
*.dat
*.ckpt

# Ignore log files.
results/
resources/
events/
profile/
logs/
# *.json
*.log
events.*

# Files that should not be ignored.
!/requirements/*

# Others shuld be ignored.
all_sequences/
ckpts/
logs/
# configs/

*.mp4
